.about-container {
  margin-bottom: 100px; /* Ensure there's enough space for the footer */
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.about-image img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align items vertically */
}


.about-image-harshita img{
  margin-left: 620px;
  margin-top: -480px;
}